language: go

go:
- 1.9.x

sudo: false

script:
- export VERSION=`grep "const Version" pidash.go | awk '{print $4}' | sed -e 's/^"//' -e 's/"$//' | tr -d '\n'`
- make test
- make build-all

deploy:
  provider: releases
  api_key:
    secure: W2TyjuyyAdn1oP57EOseOrgW/IgtvC2IF1S2sYjXFoqQd46GyjnqjPUnNxokMNCV+rXHGHvFyQJuFAgwoMv5ocsExTasCiJc4zQGABJPUZLz6AQiRPV5WkMdcINIiSAz6D6qNlLq0NbVcqVo6he2TbfVWl0R9NOAfzVyFofMEd9eK2msQTBnweSq3oFrck68pfv1ecVTH/b0dmdivoBepAUYN0zRID9rVXC7IeIrZ589Vh8cHvCkcds4S4Fr/WEWFOBPjaDqQJQGnVlsfB6bvxJEO02G7uNGHKBovZhVQJ2znLgb8J24Vt83xEu+/jlykJvP0UJmoVShIkUoBUH1dfJGzcNHBKlrU3ilxvwP4BqDVs4hmNlo0LhtmZK8yuBUZ6MKmDTp+tyFAxPc3YxSn7hPm+flrFKqZmRQbfucxgJR0XGIdfcO43bdmiB1bvYa5pdSuM6EGZQ0KdrbFWiH2Y0E32lG0XyEvOy0ie/POE6M6AQYCLXTawB/YuGDA4nHPK6cbWl3AWls8o6tdq0CsrxTKLPcJhPSgtorhSTrsgwRF5eNPtXplczx9Vh1v2Laxg+FqaI5SKAcBdYW3cZ21LTMlb9FYuf33Zix0BdqOc2bf6tfD9XlhWSQird5j9sZiYC0jouFOEJRlnl5sC4/Mc2ZpZFN4NxmC28olGGdcTY=
  file_glob: true
  file: "dist/deb/*"
  on:
    repo: tystuyfzand/pidash
    branch: 'master'
    tags: true